body{
  display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height:100vh;
}
.Master{
height: 500px;
width: 500px;
}
.btn{
 display: inline-block;
  height: 200px;
  width: 200px; 
  border:10px solid black;
  border-radius:30px;
  margin:13px;
}
.pink{
    background-color: #d95980;
}
.green{
    background-color: darkcyan;
}
.blue{
    background-color:skyblue
}
.orange{
    background-color:coral;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}